@charset "UTF-8";
/* –––––––––––––––––––––––––––––––––––––––––––––––––– *\

	This is the main scss file.  Feel free to break
	things down into components if you want.  Otherwise,
	you can build all your styles here.

	This should compile to the root of the project.

 * –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– *\
 *
 * Variables
 *
 * –––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Tajawal", sans-serif;
  background-color: #b89882;
  text-align: center;
  color: #3e4544;
  background-repeat: no-repeat;
  background-position: center;
}
body h1 {
  font-size: 44px;
}
body a {
  text-decoration: none;
  color: #3e4544;
}

.top-box {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.top-box .instagram {
  margin: 30px 0 0 5%;
}
.top-box .menu {
  margin: 30px 5% 0 0;
}
.top-box div img {
  height: 30px;
  width: 30px;
}

.bottom-box {
  display: flex;
  justify-content: space-around;
  margin: 30vh 0 0 0;
  font-size: 29px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: center;
}

.menu-box {
  visibility: hidden;
  margin-top: 10vh;
  position: relative;
  display: block;
  font-size: 29px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: center;
}
.menu-box div {
  margin-top: 1vh;
}

.house-hover {
  background-image: url(./assets/img/placeholder-01.jpg);
  color: #fff;
}
.house-hover a {
  color: #fff;
}

.beach-hover {
  background-image: url(./assets/img/placeholder-02.jpg);
  color: #fff;
}
.beach-hover a {
  color: #fff;
}

.stud-hover {
  background-clip: url(./assets/video/placeholder-vid.mp4);
  color: #fff;
}
.stud-hover a {
  color: #fff;
}
