/* –––––––––––––––––––––––––––––––––––––––––––––––––– *\

	This is the main scss file.  Feel free to break
	things down into components if you want.  Otherwise,
	you can build all your styles here.

	This should compile to the root of the project.

 * –––––––––––––––––––––––––––––––––––––––––––––––––– */

@import "./_variables.scss";

body {
  font-family: $font-family-one;
  background-color: $brown;
  text-align: center;
  div {
    border: 1px solid blue;

  }
}

.top-box {
  display: flex;
  justify-content: space-between;

}

.bottom-box {
  display: flex;
  justify-content: space-around;
  margin: 75vh 0 0 0;
}
